<footer class="footer">

    <a href="#section1" class="button-scroll-down"></a><img alt="arrow-downwards"src="./assets/images/ico-arrow.svg"></button>
    
    <!--MDN WEB DOCS
    No es necesario que todos los enlaces estén contenidos en un elemento <nav>. <nav> está destinado sólo para el bloque principal de enlaces de navegación; por lo general, el elemento <footer> a menudo tiene una lista de enlaces que no necesitan estar en un elemento <nav>.-->

    <nav>
        <ul class="list-footer">
            <li>zapatillas</li>
            <li>ropa</li>
            <li>niño/a</li>
            <li>destacados</li>
            <li>tips</li>
        </ul>

        <ul class="list-footer">
            <li>twitter</li>
            <li>instagram</li>
            <li>youtube</li>
        </ul>  
    </nav>
    <div> &copy; 2023 we <span class="">&hearts;</span> run </div>
  
</footer>