<footer class="footer">

    <div class="circle-up"><a href="#section1" class="button-scroll-up"><img alt="arrow-downwards"src="./assets/images/ico-arrow.svg"></a></div>
    
    <!--MDN WEB DOCS
    No es necesario que todos los enlaces estén contenidos en un elemento <nav>. <nav> está destinado sólo para el bloque principal de enlaces de navegación; por lo general, el elemento <footer> a menudo tiene una lista de enlaces que no necesitan estar en un elemento <nav>.-->

    <nav class="nav">
        <div class="list-sections">
            <ul class="list-footer">
                <li><a href="https://adalab.es/">zapatillas</a></li>
                <li><a href="https://adalab.es/">ropa</a></li>
                <li><a href="https://adalab.es/">niño/a</a></li>
                <li><a href="https://adalab.es/">destacados</a></li>
                <li><a href="https://adalab.es/">tips</a></li>
            </ul>
        </div>
        <div class="list-social">
            <ul class="list-footer">
                <li><a href="https://adalab.es/" target="_blank">twitter</a></li>
                <li><a href="https://adalab.es/" target="_blank">instagram</a></li>
                <li><a href="https://adalab.es/" target="_blank">youtube</a></li>
            </ul>  
        </div>
    <div class="copywrite"><p>&copy; 2023 we <span class="heart">&hearts;</span> run </p></div>
    </nav>

</footer>