<main class="main">
    <section class="section1" id="section1">
        <article class="hero">
            <h1>hasta un 50% de descuento</h1>
            <p>ya están aquí las ofertas de fin de temporada</p>
            <a href="#section2" class="button-scroll-down"></a><img alt="arrow-downwards"src="./assets/images/ico-scroll-down.svg"></button>
        </article>
        <article class="mission-statement">
            <p>Los sentimientos nos inspiran</p>
            <h2>conecta contigo</h2>
            <p>Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.</p>
             <a class="button-buy" href="https://adalab.es/">comprar</a>
        </article>
    </section>

    <section class="section2" id="section2">
        <h3>año nuevo, movimientos nuevos</h3>
        
       <!-- <dl>
            <dt>entrenamientos</dt>
            <dd>Sesiones de running y entrenamientos.</dd>
            <dt>Cualquier nivel</dt>
            <dd>Entrenamientos para cada nivel.</dd>
            <dt>Exclusividad</dt>
            <dd>Productos para miembros premium.</dd>
            </dl> -->

        <ul class="list">
            <li class="list-title">entrenamientos</li>
            <li>Sesiones de running y entrenamientos.</li>
            <li class="list-title">Cualquier nivel</li>
            <li>Entrenamientos para cada nivel.</li>
            <li class="list-title">Exclusividad</li>
            <li>Productos para miembros premium.</li>
        </ul>

        <a class="button-start" href="https://adalab.es/">Empezar ahora</a>

    </section>

</main>