// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
$font-titles: 'Roboto Slab', sans-serif;
$font-text:
$font-button:


// colors
$colorOrange: #f26002;
$colorWhite: #ffffff;
$colorGreyLight: #f2f2f2;
$colorGreyDark: #4a4a4a;



$colorMenu

$colorFooter:$colorGreyDark


