.header {
    background-color: $colorOrange;
    position: sticky;
    height: 2.12rem;
    width: 2.31rem;
    top: 0;
}

.button-menu {
   position: relative;
   height: 2.12rem;
   width: 2.31rem;
}

.icon-menu {
    height: 0.69rem;
    width: 0.84rem;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}